/************
/* Autor: Alberto Guerra Rodas
/* Descripción: Plantilla de estilos
/************/



body {
  color: #03045e;
  background-color: #caf0f8;
}

header {
  font-size: 2em;
  border: 0.03em solid #03045e;
}

nav a {
  color: #03045e;
  border: 0.03em solid #03045e;
  font-size: 1.5em;
  text-decoration: none;
}

aside {
  border: 0.03em solid #03045e;
}

aside p {
  font-size: 1.3em;
}

td {
  border: 0.03em solid #03045e;
}

main dt {
  font-size: 1em;
  font-weight: bold;
}

body a:visited {
  color: #03045e;
  background-color: #caf0f8;
}
