/************
/* Autor: Alberto Guerra Rodas
/* Descripción: Plantilla de estilos
/************/



body {
  color: #E0FBFC;
  background-color: #2f4858;
}

header {
  font-size: 2em;
}

nav , footer{
  background-color:  #02706c;
}

nav a {
  font-size: 1.5em;
  text-decoration: none;
}

aside, header, main {
  background-color: #165864;
}

aside p, aside li {
  font-size: 1.4em;
}

aside h3 {
  font-size: 1.5em;
}

aside h2 {
  font-size: 2em;
}


main dt {
  font-size: 1em;
  font-weight: bold;
}

a , a:visited {
  color: #E0FBFC;
}

audio,video, img, footer, aside, main, td, th, nav a, header{
  border: 0.03em solid #caf0f8;
}

@media only screen and (max-width: 600px) {
  
  aside p, aside li {
    font-size: 0.5em;
  }
  
  aside h3 {
    font-size: 0.8em;
  }
  
  aside h2 {
    font-size: 0.9em;
  }

}
