/************
/* Autor: Alberto Guerra Rodas
/* Descripción: Plantilla de estilos
/************/

header {
  grid-area: header;
}
nav {
  grid-area: menu;
}
main {
  grid-area: main;
}
aside {
  grid-area: right;
}
footer {
  grid-area: footer;
}


body {
  display: grid;

  grid-template-columns: auto auto auto auto auto;
  grid-template-areas:
    "header header header header header"
    "menu menu menu menu menu"
    "main main main main right"
    "main main main main right"
    "main main main main right"
    "main main main main right"
    "main main main main right"
    "footer footer footer footer footer";

    
  margin: 1%;

}

nav {
  display: flex;
  flex-direction: row;
}

nav a {
  flex-grow: 1;
  display: flex;
  justify-content: center;
 
}


dd {
  padding: 0.5em;
}

li {
  padding: 0.15em;
}

header {
  text-align: center;
}

aside, footer, td, main, section{
  padding: 1em;
}

video, img {
  max-width: 100%;
}


footer {
  display: flex;
  flex-direction: column;
}


textarea{
  min-width: 40%;
  min-height: 10em;
  max-width: 100%;
  max-height: 30em;
}




