/************
/* Autor: Alberto Guerra Rodas
/* Descripción: Plantilla de estilos
/************/

header {
  grid-area: header;
}
nav {
  grid-area: menu;
}
main {
  grid-area: main;
}
aside {
  grid-area: right;
}
footer {
  grid-area: footer;
}
a {
  grid-area: a;
}

body {
  display: grid;

  grid-template-areas:
    "header header header header header"
    "menu menu menu menu menu"
    "main main main main right"
    "main main main main right"
    "main main main main right"
    "main main main main right"
    "main main main main right"
    "footer footer footer footer footer";

  gap: 1em;
}

nav {
  display: flex;
  flex-direction: row;
}

nav a {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

main {
  margin-left: 1em;
}

dd {
  padding: 0.5em;
}

li {
  padding: 0.15em;
}

header {
  text-align: center;
  margin-top: 0em;
}

aside {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}

video {

max-width: 100%;

}

footer {
  display: flex;
  flex-direction: column;
}

td {
  padding: 1em;
}

